{% extends "base.html" %}
{% block title %} Acerca de {% endblock title %}
{% block content %}

    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'inicio' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Regresar
          </a>          
    {% endif %}    
    

    <div style="background-image: url('/static/fondo.png'); 
                background-size: cover; 
                background-position: center; 
                height: 100vh; 
                display: flex; 
                align-items: center; 
                justify-content: flex-start; 
                padding-left: 50px;"> 

    <div style="background-color: rgba(0, 0, 0, 0.5); 
                border-radius: 15px; 
                padding: 20px; 
                color: white; 
                width: 300px; 
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);">

    <h2 style="text-align: center; color: white;">Mi Farmacia Sistema</h2> 
    <p style="text-align: center; color: white;">Desarrollado por Grupo 1</p> 
    <p style="text-align: center; color: white;"><strong>Derechos reservados</strong> © 2024</p>
    <p style="text-align: center; color: white;"><strong>Versión:</strong> 3.1</p>

{% endblock content %}