{% extends 'base.html' %}
{% load static %}
{% block title %}Acerca de{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'acerca.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="contenido">
    <div class="texto-izquierdo">
        <h1>Mi Farmacia Sistema</h1>
        <h2>1.0</h2>
        <p>Desarrollado por Grupo 1</p>
        <p>Versión 1.0.1</p>
        <p>Derechos de autor &copy; 2024 </p>
        

    </div>
</div>
{% endblock %}
