/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff; /* Color de texto por defecto */
    transition: background 0.5s ease-in-out; /* Transición suave para el fondo */
}

body {
    background-image: url('fondo.png'); /* Imagen de fondo para pantallas grandes */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0px); /* Efecto de desenfoque inicial */
}

body.scrolled {
    filter: blur(3px); /* Efecto de desenfoque al hacer scroll */
}

.contenido {
    height: 100vh; /* Usa toda la altura de la ventana */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centrar texto */
    position: relative; /* Para poder posicionar el texto */
    z-index: 1; /* Asegurarse de que el contenido esté por encima del fondo */
    padding: 20px;
}

.texto-izquierdo {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para que el texto sea legible */
    padding: 20px; /* Espacio interior */
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra para un efecto tridimensional */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
    width: 300px; /* Ancho reducido para hacerlo más pequeño */
    height: 300px; /* Altura reducida para hacerlo más pequeño */
    display: flex; /* Usar flexbox para centrar el contenido dentro del cuadro */
    flex-direction: column; /* Alinear el contenido en columnas */
    justify-content: center; /* Centrar el contenido verticalmente dentro del cuadro */
    align-items: center; /* Centrar el contenido horizontalmente dentro del cuadro */
    margin-top: -3cm; /* Mueve el cuadro 3 centímetros hacia arriba */

}

.texto-izquierdo:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

/* Cambia el fondo cuando la pantalla es más pequeña (ej. pantallas móviles o ventanas pequeñas) */
@media (max-width: 768px) {
    body {
        background-image: url('fondo2.png'); /* Imagen de fondo para pantallas pequeñas */
    }

    .contenido {
        padding: 10px;
    }

    .texto-izquierdo {
        padding: 15px; /* Espacio interior ajustado */
        border-radius: 15px; /* Ajustar el borde en pantallas pequeñas */
        width: 80%; /* Ocupar un mayor ancho en móviles */
        height: auto; /* Ajustar la altura automáticamente en móviles */
        
    }
}

