{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Tipografía cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/dialogbox.css' %}">    
    <title>{% block title %}Mi Farmacia{% endblock title %}</title>
</head>

<body>
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div class="align-middle">
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>

    <main id="wrapper">
    
    {% if user.is_authenticated %}
    
        <nav id="sidebar">
            
            <div class="sidebar-header">
                <a class="navbar-brand titlefont mr-4" href="{% url 'inicio' %}"><h3>Mi Farmacia</h3></a>
            </div>

            <ul class="list-unstyled sidebar-components">
                <li> 
                    <a class="sidebar-text sidebar-button" href="{% url 'inicio' %}"><i class="fas fa-home"></i> Home</a>
                </li>               
                <li>
                    <a href="#inventorySubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-boxes"></i> Inventory</a>
                    
                </li>
                <li>
                    <a href="#purchaseSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-cash-register"></i> Purchases</a>
                    
                </li>
                <li>
                    <a href="#saleSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-dollar-sign"></i> Sales</a>
                    
                </li>
                <li>
                    <a href="#supplierSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-dolly-flatbed"></i> Suppliers</a>
                   
                </li>
                <li>
                    <a class="sidebar-text sidebar-button" href="{% url 'acerca' %}"><i class="fas fa-info-circle"></i> About</a>
                </li> 

                <li class="bottomleft">
                    <a href="#UserSubmenu" data-bs-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button">
                        <i class="fas fa-user-circle"></i> {{ request.user.username }}
                    </a>
                    <ul class="collapse list-unstyled" id="UserSubmenu">
                        {% if request.user.is_superuser %}
                            <li>
                                <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'admin:index' %}">
                                    <i class="fas fa-dot-circle"></i> Admin Page
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <form method="POST" action="{% url 'logout' %}" class="d-inline">
                                {% csrf_token %}
                                <a href="#" class="sidebar-text sidebar-subitem sidebar-button" onclick="this.closest('form').submit();">Log In Again</a>
                            </form>
                        </li>
                        
                        
                        
                        
                    </ul>
                </li>
                

            </ul>
            {% comment %}
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="sidebar-button nav-button">Button</a>
                </li>
                <li>
                    <a href="#" class="sidebar-text">Link</a>
                </li>
            </ul>
            {% endcomment %}

        </nav>
    
        <div id="content">

            <div class="row">
                <div class="col-md-12">
                
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
                        {% endfor %}
                    {% endif %}
                
    {% endif %} 

                    <div class="container">
                        {% block content %}{% endblock content %}
                    </div>
                    
                </div>
            </div>
            <br>

        </div>
    
    </main>    

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>