{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Farmacia</title>
    <link rel="icon" href="{% static 'pestaña.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'autenticacion.css' %}">
    
    {% block extra_style %}

    {% endblock %}
</head>

<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="barramenu" name="menu-outline"></ion-icon>
                {% if user.is_authenticated %}
                <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="#" class="nav-link session-link" onclick="document.getElementById('logout-form').submit(); return false;">
                    Cerrar Sesión
                </a>
                {% else %}
                <span>
                    <a class="nav-link session-link" href="/auth/login">Iniciar Sesión</a>
                </span>
                {% endif %}
            </div>
        </div>    

        <nav class="navegacion">
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="#">
                        <ion-icon name="pie-chart-outline"></ion-icon>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="medkit-outline"></ion-icon>
                        <span>Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="cart-outline"></ion-icon>
                        <span>Ventas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <span>Informes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="cash-outline"></ion-icon>
                        <span>Cierre de Caja</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div>
            <div class="linea"></div>
            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="{% url 'support' %}">
                            <ion-icon name="construct-outline"></ion-icon>
                            <span>Soporte</span>
                        </a>
                    </li>
                    <li>
                        <a href="/acerca/">
                            <ion-icon name="information-circle-outline"></ion-icon>
                            <span>Acerca</span>
                        </a>
                    </li>
                </ul>
            
            <div class="linea"></div>
            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Modo Ergo</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo"></div>
                    </div>
                </div>
            </div>

            <div class="usuario">
                <!--Agregar usuario en esta parte-->
            </div>
        </div>
    </div>

    <main>
        <div class="image-container">
            <img src="/static/logo.jpg" alt="Logo" class="responsive-image">
        </div>
        
        {% block content %}

        {% endblock %}
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
