{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Lista de Ventas {% endblock title %}

{% block content %}
    
    <div class="row" style="color: #575757; font-weight: bold; font-size: 3rem;">
        <div class="col-md-8">Lista de Ventas</div>
        <div class="col-md-4">               
            <div style="float:right;"> <a class="btn btn-success" href="{% url 'nueva-venta' %}">Nueva Venta</a> </div>
        </div>
    </div>
    
    <br>

    <table class="table table-css table-bordered table-hover"> 
        <thead class="thead-dark align-middle">
            <tr>
                <th width="10%">No. Factura</th>
                <th width="15%">Cliente</th>
                <th width="15%">Artículos Vendidos</th>
                <th width="10%">Cantidad Vendida</th>
                <th width="10%">Precio Total</th>
                <th width="15%">Fecha</th>
                <th width="25%">Acciones</th>
            </tr>
        </thead>

    {% if facturas %}
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td class="align-middle">{{ factura.numero }}</td>
                <td class="">
                    {{ factura.nombre }} <br>
                    <small style="color: #909494">Tel: {{ factura.telefono }}</small>
                </td>
                <td class="align-middle">
                    {% for articulo in factura.articulos.all %}
                        {{ articulo.stock.nombre }} <br>
                    {% endfor %}
                </td>
                <td class="align-middle">
                    {% for articulo in factura.articulos.all %}
                        {{ articulo.cantidad }} <br>
                    {% endfor %}
                </td>     
                <td class="align-middle">${{ factura.obtener_precio_total }}</td>
                <td class="align-middle">{{ factura.fecha|date:"d/m/Y H:i" }}</td>
                <td class="align-middle">
                    <a href="{% url 'factura' factura.numero %}" class="btn btn-secondary btn-sm">Ver Factura</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <tbody></tbody>
    </table>

    <div style="color: #575757; font-weight: bold; font-size: 1.5rem; text-align: center;">
        No hay registros disponibles. Intenta agregar alguno.
    </div>
    <br><br><br><br><br><br><br><br>
    
    {% endif %}

{% endblock content %}
